img{
    height: 350px;
    width: 500px;
}

#toursSec{
    display: flex;
    margin: 10px;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
div{
    padding: 10px;
    padding-right: 50px;
}
Card{padding-left: 20px;

}