img{
    height: 350px;
    width: 500px;
}

#toursSec{
    display: flex;
    margin: 10px;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}
div{
    padding: 10px;
    padding-right: 50px;
}