#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
a{
    margin: 10px;
}